@media screen and (min-width: 320px) and (max-width: 376px) {
  nav {
    grid-template-columns: 1fr 1fr;
  }

  .nav-list > li {
    display: none;
  }

  .nav-button {
    display: none;
  }

  nav > :nth-child(2) {
    justify-self: end;
    padding-right: 25px;
  }

  .augument {
    grid-template-columns: 1fr;
  }

  .augument > div {
    margin-top: 50px;
    align-self: center;
    justify-self: center;
    margin-left: 20px;
  }

  .augument > img {
    display: none;
  }

  .education {
    grid-template-columns: 1fr;
  }

  .education > div {
    margin-left: 20px;
  }

  .education > img {
    display: none;
  }

  .data-science > img {
    display: none;
  }

  .data-science {
    grid-template-columns: 1fr;
  }

  .data-science > div {
    margin-left: 20px;
    justify-self: center;
  }

  .exclusive {
    height: 2150px;
  }

  .in-app > img {
    display: none;
  }

  .in-app {
    grid-template-columns: 1fr;
    height: 700px;
    margin-top: 100px;
  }

  .in-app > div {
    justify-self: center;
    margin-top: 100px;
  }

  .subscribe-stick {
    display: none;
  }

  .social > img {
    width: 100px;
    height: 30px;
  }

  .see-more {
    margin-left: 30px;
    width: 130px;
  }

  .social2 > img {
    margin-right: 30px;
  }

  footer > :nth-child(1) {
    grid-template-columns: 35% 1fr 1fr 1fr;
    padding-top: 0px;
    padding-left: 0px;
  }

  footer {
    height: 456px;
  }

  .form {
    width: 426px;
    left: calc(50% - 426px / 2);
  }

  .input {
    width: 200px;
    height: 75px;
    padding-left: 50px;
  }

  .footer-stick {
    display: none;
  }

  .burger {
    display: block;
  }

  .social2 > img {
    margin-right: 1px;
  }

  .header-title {
    font-size: 30px;
  }

  .left-part {
    justify-self: center;
  }

  .right-part {
    justify-self: center;
  }

  .under-title {
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }

  header {
    height: 800px;
  }

  .exclusive-features {
    font-size: 25px;
  }

  .exclusive-text {
    font-size: 12px;
  }

  .augumented-reality {
    font-size: 21px;
  }

  .exclusive {
    height: 2000px;
  }

  .augumented-text {
    font-size: 14px;
  }

  .subscribe-title {
    font-size: 27px;
  }

  .input {
    font-size: 12px;
    width: 130px;
    padding-left: 25px;
    height: 50px;
  }

  .see-more {
    font-size: 12px;
    margin-left: 15px;
    height: 50px;
  }

  .footer-text {
    font-size: 10px;
  }

  .column-title {
    font-size: 16px;
  }

  .footer-list > li {
    font-size: 10px;
  }

  .copyright-text {
    font-size: 12px;
  }

  .form {
    width: 320px;
    left: calc(50% - 320px / 2);
  }

  .logo {
    font-size: 20px;
  }

  .footer-text{
    display: none;
  }

  .review{
    display: none;
  }

  .footer-list{
    display: none;
  }

  footer > :nth-child(1) {
    grid-template-columns: 1fr;
    padding-top: 50px;
    padding-left: 0px;
  }

  footer > div > :nth-child(1) {
    justify-self: center;
}

  .copy{
    display: none;
  }
}
